
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", helvetica, sans-serif;
    background: #f0f0f0; /* Fundo cinza claro */
    padding-top: 20px; /* Espaçamento em cima */
}

/* Layout */

header {
    background-color: #888888;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    max-width: 100%; /* Ajusta a largura máxima do logo */
    height: auto;
}

#area-menu {
    padding: 10px;
}

#main-content {
    background-color: #d3d3d3; /* Fundo cinza */
    width: 920px;
    margin: 20px auto; /* Espaçamento em cima e embaixo */
    padding: 20px;
    border-radius: 10px; /* Cantos arredondados */
}

footer {
    background: #888888; /* Cor do cabeçalho do rodapé */
    padding: 15px;
    text-align: center;
    margin-top: 20px; /* Espaçamento em cima */
    border-radius: 10px; /* Cantos arredondados */
}

/* Formatações do menu */
#area-menu a {
    text-decoration: none;
    color: #FFF;
    padding: 8px 20px;
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Cantos arredondados */
}

#area-menu a:hover {
    background: #696969;
}

/* Formatações gerais */
h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 0.5em;
}

/* Slideshow */
.slideshow {
    position: relative;
    width: 300px; /* Largura do slideshow */
    height: 100px; /* Altura do slideshow */
    overflow: hidden; /* Oculta imagens fora da área do slideshow */
    border-radius: 10px; /* Cantos arredondados */
}

.slideshow-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Redimensiona a imagem para preencher a área */
}

/* Esconde todas as imagens do slideshow, exceto a primeira */
.slideshow-image:not(:first-child) {
    display: none;
}

#imagem-grande {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Cantos arredondados */
    margin-bottom: 20px;
}

.small-images {
    display: none; /* Oculta as imagens pequenas por padrão */
}

/* Balão */
.balloon {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px; /* Cantos arredondados */
}

/* Estatísticas */
.stats {
    display: flex;
    justify-content: space-between;
}

.stats div {
    flex-basis: 30%;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px; /* Cantos arredondados */
}

/* Feedback */
.feedback {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.feedback .balloon {
    background-color: #f0f0f0;
    padding: 10px;
    flex-basis: 30%;
    border-radius: 10px; /* Cantos arredondados */
}

.feedback .balloon p {
    margin-bottom: 5px;
}
